apps/iam-broker/src/main/resources/xsd/adminbypass.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://hyundaidealer.com/AdminBypassService/"
           xmlns:tns="http://hyundaidealer.com/AdminBypassService/">

    <!-- One operation, two intents:
           Action="create" → all fields required, MFA must be true
           Action="cancel" → only BypassID required -->
    <xs:element name="AdminBypass">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Action"          type="xs:string"/>
                <xs:element name="AdminKey"        type="xs:string"/>
                <xs:element name="AdminMfa"        type="xs:string" minOccurs="0"/>
                <xs:element name="BypassID"        type="xs:string" minOccurs="0"/>
                <xs:element name="UserID"          type="xs:string" minOccurs="0"/>
                <xs:element name="TargetSystem"    type="xs:string" minOccurs="0"/>
                <xs:element name="DurationMinutes" type="xs:int"    minOccurs="0"/>
                <xs:element name="Justification"   type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AdminBypassResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="BypassID"        type="xs:string" minOccurs="0"/>
                <xs:element name="UserID"          type="xs:string" minOccurs="0"/>
                <xs:element name="TargetSystem"    type="xs:string" minOccurs="0"/>
                <xs:element name="ExpiresAt"       type="xs:string" minOccurs="0"/>
                <xs:element name="Cancelled"       type="xs:boolean" minOccurs="0"/>
                <xs:element name="ERETURN"                       minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TYPE"    type="xs:string"/>
                            <xs:element name="MESSAGE" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
