apps/iam-broker/src/main/resources/xsd/otpvalidate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://hyundaidealer.com/OtpValidateService/"
           xmlns:tns="http://hyundaidealer.com/OtpValidateService/">

    <xs:element name="OtpValidate">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="UserID" type="xs:string"/>
                <xs:element name="Otp"    type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="OtpValidateResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Valid"      type="xs:boolean"/>
                <xs:element name="UserID"     type="xs:string" minOccurs="0"/>
                <xs:element name="Role"       type="xs:string" minOccurs="0"/>
                <xs:element name="Brand"      type="xs:string" minOccurs="0"/>
                <xs:element name="DealerCode" type="xs:string" minOccurs="0"/>
                <xs:element name="ERETURN"                  minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TYPE"    type="xs:string"/>
                            <xs:element name="MESSAGE" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
